nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  font-family: 'Roboto', sans-serif;

}

.menu {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  
}

.logo {
  max-width: 5%;
  justify-content: left;
  margin-right: 300px;
}

.menu:hover{
  
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    
  }
